<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Formularios</title>
    </head>
    <body>
        <section class="forms">
            <h1>Formularios</h1>
            <label for="postMethod">Método POST</label>
            <input type="checkbox" name="method" id="postMethod">
            <section class="requestParam">
                <h2>Formulario RequestParam</h2>
                <form action="/Formularios/GetRequestParam" method="get">
                    <label for="name1">Nombre </label>
                    <input type="text" name="name" id="name1"><br>
                    <label for="surname1">Apellido </label>
                    <input type="text" name="surname" id="surname1"><br>
                    <label for="dni1">DNI </label>
                    <input type="text" name="dni" id="dni1"><br>
                    <input type="submit" value="Enviar">
                </form>
            </section>
        </section>
        <a href="/">Regresar</a>

        <script type="text/javascript" th:src="@{/js/indexForms.js}"></script>
    </body>
</html>