<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Formularios</title>
    </head>
    <body>
        <section class="forms">
            <h1>Formularios</h1>
            <label for="postMethod">Método POST</label>
            <input type="checkbox" id="postMethod"><br>
            <label for="dataBinding">Data Binding</label>
            <input type="checkbox" id="dataBinding">
            <section>
                <form action="/Formularios/Get" method="get">
                    <label for="name1">Nombre </label>
                    <input type="text" name="name" id="name1"><br>

                    <label for="surname1">Apellido </label>
                    <input type="text" name="surname" id="surname1"><br>

                    <label for="nacionality">Nacionalidad</label>
                    <select name="nacionality" id="nacionality">
                        <option th:each="nacionality: ${nacionalities}"
                                th:value="${nacionality}"
                                th:text="${nacionality}">Peru</option>
                    </select><br>

                    <label for="dni1">DNI </label>
                    <input type="text" name="dni" id="dni1"><br>

                    <input type="submit" value="Enviar">
                </form>
            </section>
        </section>
        <a href="/">Regresar</a>

        <script type="text/javascript" th:src="@{/js/indexForms.js}"></script>
    </body>
</html>