<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="/static/css/index.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
    </head>
    <body>
        <section id="title">

            <!--NavBar-->

            <nav class="navbar bg-dark navbar-dark navbar-expand">
                <div class="container">
                    <a class="navbar-brand" href="/">GTICS</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Programas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Frameworks</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!--Title-->

            <div class="row">
                <div class="col">
                    <h1>GESTIÓN Y SERVICIOS DE TIC'S</h1>
                    <p>*Descripción del curso*</p>
                    <a href="https://drive.google.com/drive/folders/1-HYbstDJiKnXjkdOKiC1q4YtrbTcowrC" target="_blank">Drive</a>
                </div>
                <div class="col">
                    *Imágen descriptiva*
                </div>
            </div>

        </section>

        <section id="subjects">
            <h2>Temas Desarrollados</h2>
            <div class="row">
                <div class="col">
                    <ul>
                        <li>
                            <a href="/Formularios">Formularios</a>
                        </li>
                        <li>
                            <a href="/BaseDeDatos">Base de Datos</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    *Imágen descriptiva*
                </div>
            </div>
        </section>
    </body>
</html>