<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Base de Datos</title>
    </head>
    <body>
        <h1>Northwind DB</h1>
        <h2>Lista de transportistas</h2>
        <a th:href="@{/BaseDeDatos/CrearTransportista}">Nuevo transportista</a>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="shipper: ${shipperList}">
                <td th:text="${shipper.id}"></td>
                <td th:text="${shipper.companyName}"></td>
                <td th:text="${shipper.phone}"></td>
                <td>
                    <a th:href="@{'/BaseDeDatos/Editar?id='+${shipper.id}}">Editar</a>
                </td>
                <td>
                    <a th:href="@{'/BaseDeDatos/Eliminar?id='+${shipper.id}}">Eliminar</a>
                </td>
            </tr>
        </table>

        <h2>Lista de regiones</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Descripción</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="region: ${regionList}">
                <td th:text="${region.id}"></td>
                <td th:text="${region.description}"></td>
                <td>
                    <a>Editar</a>
                </td>
                <td>
                    <a>Eliminar</a>
                </td>
            </tr>
        </table>
        <a th:href="@{/}">Regresar</a>
    </body>
</html>